eFacturacionColombia_V2.ServiciosWeb/Connected Services/DianServices/WcfDianCustomerServices11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DianResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DianResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DianResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorMessage" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlBase64Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="XmlBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="XmlDocumentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DianResponse" nillable="true" type="tns:DianResponse" />
  <xs:complexType name="ArrayOfDianResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DianResponse" nillable="true" type="tns:DianResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDianResponse" nillable="true" type="tns:ArrayOfDianResponse" />
</xs:schema>