eFacturacionColombia_V2.ServiciosWeb/Connected Services/DianServices/WcfDianCustomerServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XmlParamsResponseTrackId" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XmlParamsResponseTrackId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfXmlParamsResponseTrackId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XmlParamsResponseTrackId" nillable="true" type="tns:XmlParamsResponseTrackId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXmlParamsResponseTrackId" nillable="true" type="tns:ArrayOfXmlParamsResponseTrackId" />
  <xs:complexType name="XmlParamsResponseTrackId">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="XmlFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XmlParamsResponseTrackId" nillable="true" type="tns:XmlParamsResponseTrackId" />
</xs:schema>