eFacturacionColombia_V2.ServiciosWeb/Connected Services/DianServices/WcfDianCustomerServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocIdentifierWithEventsResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocIdentifierWithEventsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocIdentifierWithEventsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CsvBase64Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocIdentifierWithEventsResponse" nillable="true" type="tns:DocIdentifierWithEventsResponse" />
</xs:schema>