eFacturacionColombia_V2.ServiciosWeb/Connected Services/DianServices/WcfDianCustomerServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlBytesBase64" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventResponse" nillable="true" type="tns:EventResponse" />
</xs:schema>