eFacturacionColombia_V2.ServiciosWeb/Connected Services/DianServices/WcfDianCustomerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wcf.dian.colombia" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfDianCustomerServices" targetNamespace="http://wcf.dian.colombia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IWcfDianCustomerServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256Sha256Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:RequireThumbprintReference />
                <sp:WssX509V3Token10 />
              </wsp:Policy>
            </sp:X509Token>
            <sp:SignedParts>
              <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
            </sp:SignedParts>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefThumbprint />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://wcf.dian.colombia/Imports">
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd0" namespace="http://wcf.dian.colombia" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExchangeEmailResponse" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DianResponse" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UploadDocumentResponse" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/XmlParamsResponseTrackId" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/NumberRangeResponseList" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/NumberRangeResponse" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/EventResponse" />
      <xsd:import schemaLocation="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/DocIdentifierWithEventsResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfDianCustomerServices_GetExchangeEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeEmails" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetExchangeEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetStatusZip_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusZip" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetStatusZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusZipResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetStatusEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusEvent" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetStatusEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusEventResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendBillAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBillAsync" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendBillAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBillAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendTestSetAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTestSetAsync" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendTestSetAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTestSetAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendBillSync_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBillSync" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendBillSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBillSyncResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendBillAttachmentAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBillAttachmentAsync" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendBillAttachmentAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBillAttachmentAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendEventUpdateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEventUpdateStatus" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendEventUpdateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEventUpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendNominaSync_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNominaSync" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_SendNominaSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNominaSyncResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetNumberingRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberingRange" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetNumberingRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberingRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetXmlByDocumentKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlByDocumentKey" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetXmlByDocumentKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlByDocumentKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetDocIdentifierWithEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocIdentifierWithEvents" />
  </wsdl:message>
  <wsdl:message name="IWcfDianCustomerServices_GetDocIdentifierWithEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocIdentifierWithEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfDianCustomerServices">
    <wsdl:operation name="GetExchangeEmails">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetExchangeEmails" message="tns:IWcfDianCustomerServices_GetExchangeEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetExchangeEmailsResponse" message="tns:IWcfDianCustomerServices_GetExchangeEmails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatus" message="tns:IWcfDianCustomerServices_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatusResponse" message="tns:IWcfDianCustomerServices_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusZip">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatusZip" message="tns:IWcfDianCustomerServices_GetStatusZip_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatusZipResponse" message="tns:IWcfDianCustomerServices_GetStatusZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusEvent">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatusEvent" message="tns:IWcfDianCustomerServices_GetStatusEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatusEventResponse" message="tns:IWcfDianCustomerServices_GetStatusEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBillAsync">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillAsync" message="tns:IWcfDianCustomerServices_SendBillAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillAsyncResponse" message="tns:IWcfDianCustomerServices_SendBillAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTestSetAsync">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendTestSetAsync" message="tns:IWcfDianCustomerServices_SendTestSetAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendTestSetAsyncResponse" message="tns:IWcfDianCustomerServices_SendTestSetAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBillSync">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillSync" message="tns:IWcfDianCustomerServices_SendBillSync_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillSyncResponse" message="tns:IWcfDianCustomerServices_SendBillSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBillAttachmentAsync">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillAttachmentAsync" message="tns:IWcfDianCustomerServices_SendBillAttachmentAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillAttachmentAsyncResponse" message="tns:IWcfDianCustomerServices_SendBillAttachmentAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEventUpdateStatus">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendEventUpdateStatus" message="tns:IWcfDianCustomerServices_SendEventUpdateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendEventUpdateStatusResponse" message="tns:IWcfDianCustomerServices_SendEventUpdateStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNominaSync">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendNominaSync" message="tns:IWcfDianCustomerServices_SendNominaSync_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/SendNominaSyncResponse" message="tns:IWcfDianCustomerServices_SendNominaSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberingRange">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetNumberingRange" message="tns:IWcfDianCustomerServices_GetNumberingRange_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetNumberingRangeResponse" message="tns:IWcfDianCustomerServices_GetNumberingRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlByDocumentKey">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetXmlByDocumentKey" message="tns:IWcfDianCustomerServices_GetXmlByDocumentKey_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetXmlByDocumentKeyResponse" message="tns:IWcfDianCustomerServices_GetXmlByDocumentKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocIdentifierWithEvents">
      <wsdl:input wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetDocIdentifierWithEvents" message="tns:IWcfDianCustomerServices_GetDocIdentifierWithEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf.dian.colombia/IWcfDianCustomerServices/GetDocIdentifierWithEventsResponse" message="tns:IWcfDianCustomerServices_GetDocIdentifierWithEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IWcfDianCustomerServices" type="tns:IWcfDianCustomerServices">
    <wsp:PolicyReference URI="#WSHttpBinding_IWcfDianCustomerServices_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExchangeEmails">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/GetExchangeEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusZip">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatusZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusEvent">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/GetStatusEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBillAsync">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTestSetAsync">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/SendTestSetAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBillSync">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBillAttachmentAsync">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/SendBillAttachmentAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEventUpdateStatus">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/SendEventUpdateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNominaSync">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/SendNominaSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberingRange">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/GetNumberingRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlByDocumentKey">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/GetXmlByDocumentKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocIdentifierWithEvents">
      <soap12:operation soapAction="http://wcf.dian.colombia/IWcfDianCustomerServices/GetDocIdentifierWithEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfDianCustomerServices">
    <wsdl:port name="WSHttpBinding_IWcfDianCustomerServices" binding="tns:WSHttpBinding_IWcfDianCustomerServices">
      <soap12:address location="https://vpfe.dian.gov.co/WcfDianCustomerServices.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://vpfe.dian.gov.co/WcfDianCustomerServices.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>